.aniWrap {
  margin: 40px auto;
  display: block;
  width: 28px;
  position: absolute;
  bottom: 0;
}

.mouse {
  width: 28px;
  height: 50px;
  border: 2px solid white;
  border-radius: 14px;
}

.scroller {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: white;
  position: relative;
  top: 10px;
  left: 0px;
  right: 0;
  margin: auto;
  animation: scrolls 1.3s ease-out infinite;
}

@keyframes scrolls {
  0% {
    top: 18px;
    opacity: 1;
    height: 4px;
  }
  95% {
    top: 5px;
    opacity: 0;
    height: 8px;
  }
  100% {
    top: 18px;
    opacity: 1;
    height: 4px;
  }
}

@keyframes sns {
  0% {
    top: 0px;
    opacity: 1;
    /* height: 4px; */
  }
  80% {
    top: -200px;
    opacity: 1;
    /* height: 8px; */
  }
  95% {
    top: -300px;
    opacity: 0;
    /* height: 8px; */
  }
  100% {
    top: -300px;
    opacity: 0.5;
    /* height: 4px; */
  }
}
